.my-h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #33333b;
  text-align: center;
}
.my-h2 {
  max-width: 800px;
  margin: 32px auto 0;
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  color: #47474f;
  text-align: center;
}
.img-container {
  border-radius: 3;
  border: 1px dashed #33333b;
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 5vh;
  background-color: #d8d8d8;
}
.img-container:focus-visible {
  //outline: 0;
}

.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  top: 25%;
  left: calc(50% - 60px);
}

.w-btn-pink {
  background-color: #fa6e65;
  color: #d4dfe6;
}
